.sliderItem {
    width: 100%;
    height: auto;
}

#sliderElements {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -100%;
}

@keyframes changeOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes next {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes back {
    from {
        right: 100%;
    }
    to {
        right: 0%;
    }
}